/**
 * @package pinbin
 */

@import url( 'style.css' );

/* Add overwrites as needed so that the content of the editor field is attractive and not broken */
body { 
	padding: 0px 10px;
	width: 630px;
} 

h1.editStyle{
color:#f00;
}
h3{
font-size:100px;
}
.style1{
font-size:100px;
}
.hoge-ru{
color:#f00;
}