<header id="headerPCView" class="header pcView">
さくらテスト（ルート）４
<div class="header__inner">
  <div class="header__logo"><a href="<?php echo $this->site_url ?>"><img src="<?php echo $this->logoImg ?>" alt="<?php echo $this->site_title ?>"></a></div><!-- /.header__logo -->
  <div class="header__summary">
  	<p><?php echo $this->headerpcComment ?></p>
  </div>
</div>
<?php include($this->globalNav_pc_html); ?>
</header><!-- /.header -->
<header id="overWrapNav" class="header spView">
<div class="header__inner">
  <div class="header__logo"><a href="<?php echo $this->site_url ?>"><img src="<?php echo $this->logoImg ?>" alt="<?php echo $this->site_title ?>"></a></div><!-- /.header__logo -->
  <div class="header__summary">
  	<p><?php echo $this->headerspComment ?></p>
  </div>
</div>
<?php include($this->globalNav_sp_html); ?>
</header><!-- /.header -->

<style>
  @keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fixed {
    display: none;
}

.fixed {
    display: block;
    animation: show 0.25s linear 0s;
}
</style>
