<footer class="footer" id="footer">
	
<div class="footer__inner">
<?php include($this->pankuzu_html); ?>

<ul class="footer__nav">
	<li><a href="<?php echo $this->site_url ?>">ホーム</a></li>
	<li><a href="<?php echo $this->site_url ?>company/">会社概要</a></li>
	<li><a href="<?php echo $this->site_url ?>recruit/">採用情報</a></li>
	<li><a href="<?php echo $this->site_url ?>rule/">利用規約</a></li>
	<li><a href="<?php echo $this->site_url ?>privacy/">個人情報保護方針</a></li>
	<li><a href="<?php echo $this->site_url ?>accessibility/">推奨環境</a></li>
	<li><a href="<?php echo $this->ssl_url ?>inquiry/">お問い合わせ</a></li>
</ul><!-- /.footer__nav -->

<div class="footer__subContent">
<hr class="spView">
<div class="footer__company">
	<div class="footer__logo"><a href="<?php echo $this->site_url ?>"><img src="<?php echo $this->shared_path ?>/img/logo_<?php echo $this->file_name ?>.png" alt="<?php echo $this->site_title ?>"></a></div>
	<dl class="footer__company--info">
		<dt><?php echo $this->site_title ?></dt>
		<dd><?php echo $this->company_name ?></dd>
		<dd><?php echo $this->company_address ?></dd>
		<dd><i class="fa fa-phone"></i><?php echo $this->company_tel ?></dd>
	</dl>
</div><!-- /.footer__company -->

<div class="footer__sns">
	<?php include($this->shared_dir.'parts/sns/sns_button_follow_footer.html'); ?>
	<div class="footer__sns--list">
		<ul>
			<li><a href="https://twitter.com/<?php echo $this->accountTwitter ?>" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li><?php /* 
			 */ ?><li><a href="https://www.facebook.com/<?php echo $this->accountFacebook ?>" target="_blank"><i class="fa fa-facebook-official"></i>Facebook</a></li><?php /* 
			 */ ?><li><a href="<?php echo $this->youtubeLink ?>"><i class="fa fa-youtube" target="_blank"></i>Youtube</a></li><?php /* 
			 */ ?><!-- <li><a href="<?php echo $this->LineLink ?>"><i class="fa fa-youtube" target="_blank"></i>Line</a></li> -->
		</ul>
	</div><!-- /.officialSNS__link -->
</div><!-- /.footer__sns -->
</div><!-- /.footer__subContent -->

</div><!-- /.footer__inner -->

<small class="footer__copyRight"><?php echo $this->copyright ?></small>
</footer><!-- footer/ -->
<script src="<?php echo $this->shared_path ?>/js/common.js"></script>

<?php if($this->isDevelop){ ?>
<script>function disp(){ window.alert('申し訳ございません。ただいま準備中です。') ;}</script>
<style>
	#developView {
		background: #e91e63;
		opacity: 0.9;-moz-opacity: 0.9;-ms-filter: "alpha(opacity=90)";
		color: #FFF;
		text-align: center;
		padding:2px 4px;
		font-size: 13px;font-size: 1.3rem;
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 999;
		cursor: pointer;
	}
</style>
<div id="developView">
ここは開発環境です。この領域をクリックすると消えます。ここは開発環境です。
</div>
<script>
	$(function(){  
		$('#developView').click(function(){  
			$(this).fadeOut();  
		});  
	})  
</script>
<?php } ?>