<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<?php if($this->_bws->isSmartDevice()){ ?>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<?php }else{ ?>
<meta name="viewport" content="width=1200">
<?php } ?>
<title><?php echo $this->head_title ?></title>
<meta name="description" content="<?php echo($this->meta_description); ?>">
<meta name="keywords" content="<?php echo($this->meta_keywords); ?>">
<meta property="og:type" content="<?php echo($this->og_type); ?>">
<meta property="og:title" content="<?php echo($this->head_title); ?>">
<meta property="og:description" content="<?php echo($this->meta_description); ?>">
<?php if(!empty($this->og_image)){ ?><meta property="og:image" content="<?php echo($this->og_image); ?>"><?php } ?>
<meta name="format-detection" content="telephone=no">
<?php if($this->isDevelop){ ?>
<meta name="robots" content="noindex, nofollow">
<?php } ?>
<link rel="canonical" href="hokuhokutei.comの場合、kaitenmaru.comのURLをここに入れる">
<link rel="apple-touch-icon-precomposed" href="<?php echo $this->shared_path ?>/img/icon_webclip_<?php echo $this->file_name ?>.png">
<link rel="shortcut icon" href="/favicon_<?php echo $this->file_name ?>.ico">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/flatly/bootstrap.min.css">
<link rel="stylesheet" href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'>
<link rel="stylesheet" href="<?php echo $this->shared_path ?>/css/common_<?php echo $this->file_name ?>.css">
<?php if(!empty($this->css_headers)){ echo implode("\n",$this->css_headers); } ?>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--[if lte IE 8]><script src="<?php echo $this->shared_path ?>/js/nomore_old_browser.js"></script><![endif]-->
<script src="<?php echo $this->shared_path ?>/js/jquery.matchHeight-min.js"></script>
<script src="<?php echo $this->shared_path ?>/js/imgLiquid-min.js"></script>
<script src="<?php echo $this->shared_path ?>/js/article_list.js"></script>
<?php if(!empty($this->js_headers)){ echo implode("\n",$this->js_headers); } ?>
<?php include($this->shared_dir.'parts/sns/sns_common_code.html'); ?>
<?php if(!$this->isDevelop){ ?>
<?php include($this->shared_dir.'parts/google/google_analytics.html'); ?>
<?php } ?>
<script>
$(document).ready(function() {
	$('.imgFrame').imgLiquid({
			fill: true,
			horizontalAlign: 'center',
			verticalAlign: 'center'
	});
});
</script>